.wp-site-blocks .alignfull, .wp-site-blocks > .wp-block-group.has-background, .wp-site-blocks > .wp-block-cover, .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background, .wp-site-blocks > .wp-block-template-part > .wp-block-cover, body > .is-root-container > .wp-block-group.has-background, body > .is-root-container > .wp-block-cover, body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background, body > .is-root-container > .wp-block-template-part > .wp-block-cover, .is-root-container .wp-block[data-align="full"]{
  margin-left: calc(-1* var(--wp--custom--spacing--outer)) !important;
  margin-right: calc(-1* var(--wp--custom--spacing--outer)) !important;
  width: unset;
}
.wp-site-blocks, .edit-post-visual-editor__post-title-wrapper, .wp-block-group.alignfull, .slider .wp-block-cover, .wp-block-group.has-background, .wp-block-cover.alignfull, .is-root-container .wp-block[data-align="full"] > .wp-block-group, .is-root-container .wp-block[data-align="full"] > .wp-block-cover {
    padding-left: var(--wp--custom--spacing--outer);
    padding-right: var(--wp--custom--spacing--outer);
}

.archieve-post{
  position: relative !important;
}
.blog-date-box{
  position: absolute !important;
  left: 15px;
  top: 13px;
  z-index: 99;
}
.archieve-post .wp-block-post-meta > div:not(:first-child):before{
  background: transparent;
}
.blog-date-mon{
  border-bottom: 4px solid var(--wp--preset--color--border-color);
}


/*custom-css*/
/*homepage sidebar*/
@media screen and (min-width: 75em) {
  .front-header .home-nav .wp-block-navigation__container {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
  }
  .front-header .home-nav .wp-block-navigation-link {
    width: 100%;
    display: block !important;
  }
}
.front-header .header-bar{
  padding-top: var(--wp--preset--spacing--50) !important;
  padding-bottom: var(--wp--preset--spacing--50) !important;
  padding-left: var(--wp--preset--spacing--50) !important;
  padding-right: var(--wp--preset--spacing--50) !important;
  border-radius: 0 20px 20px 0 !important;
}
.front-header .header-bar-cols{
  display: block !important;
}
.front-header .home-nav{
  margin-top: var(--wp--preset--spacing--40) !important;
  margin-bottom: var(--wp--preset--spacing--50) !important;
  padding-left: 15px !important;
}
.front-header .head-social-wrap{
  margin-bottom: 20px !important;
}
.footer-home .footer-outer{
  padding-left: 0 !important;
}
/*header*/
.header-social .wp-block-social-link,
.footer-social .wp-block-social-link{
  border-radius: 5px !important;
}
.header-social .wp-block-social-link a,
.footer-social .wp-block-social-link a {
  transition: none;
}
.header-search .wp-block-search__inside-wrapper{
  padding: 5px !important;
  background-color: #fff !important;
  border-radius: 10px !important;
}
.header-search .wp-block-search__input{
  height: 35px !important;
  background:transparent;
  border: none;
}
.header-search .wp-block-search__button{
  padding: 5px 7px !important;
  border-radius: 8px;
}
.header-search .wp-block-search__button svg{
  rotate: 270deg;
}
.header-search .wp-block-search__input::placeholder{
  font-size: 14px !important;
  font-weight: 400 !important;
}
/*banner*/
.banner-wrap{
  gap: 20px !important;
}
.banner-right img{
  width: 100%;
  height: 520px;
}
.left-img img{
  height: 150px;
  width: auto;
}
/*blog*/
.blog-wrap,.dest-wrap{
  gap: 10px !important;
}
.blog-wrap .wp-block-read-more{
  border-radius: 7px;
}
.author-img .wp-block-post-author__avatar{
  margin-right: 0 !important;
}
.author-img .wp-block-post-author__avatar img{
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
}
.author-img .wp-block-post-author__name{
  display: none;
}
.meta-wrap  .wp-block-post-author-name a{
  text-decoration: none;
}
.meta-wrap{
  gap: 5px !important;
}
.meta-wrap .wp-block-post-date{
  position: relative;
}
.meta-wrap .wp-block-post-date:before{
  font-family: dashicons;
  content: "\f508";
  position: relative;
  color: var(--wp--preset--color--primary);
  font-size: 14px;
  font-weight: 400;
  left: auto;
  bottom: auto;
  top: 3px;
}
.meta-wrap .wp-block-post-date time{
  padding-left: 3px;
}
.right-inner{
  gap: 10px !important;
  margin-bottom: 0;
}
.blog-wrap .taxonomy-category a{
  background-color: var(--wp--preset--color--background);
  padding: 5px 10px 5px 25px;
  border-radius: 30px;
  text-transform: capitalize;
}
.wp-block-post-terms__separator{
  display: none;
}
.cat-box{
  position: absolute !important;
  left: 10px;
  right: 10px;
  top: 15px;
}
.cat-box .taxonomy-category{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.blog-wrap .wp-block-post-featured-image{
  margin-bottom: 0;
}
/*top destinations*/
.top-dest-img img{
  width: 100% !important;
}
.dest-icon{
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dest-box:hover .dest-icon{
  background-color: var(--wp--preset--color--primary) !important;
}
.top-dest-img{
  margin-bottom: 0 !important;
}
/*footer*/
.footer-box nav{
  margin-top: var(--wp--preset--spacing--40);
}
.footer5 .wp-block-gallery{
  gap: 10px !important;
}
.footer5 .wp-block-gallery img,.footer5 .wp-block-gallery .wp-block-image{
  height: 70px !important
}


/*back to top*/
.wp-block-button.back-to-top .wp-block-button__link.wp-element-button {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: inline-block;
  z-index: 999;
  text-indent: -5000px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.089);
  padding: 0;
}

/*testimonial-css start*/
.testimonial-box{
  position: relative !important;
}
.star-img{
  margin-bottom: 10px !important;
}
.testimonial-comas{
  position: absolute !important;
  z-index: -1;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
.testimonial-img img{
  height: 50px !important;
  width: 50px !important;
}
/*testimonial-css end*/

/*projects slider start*/
.projects-slider .swiper-wrapper{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  gap: 10px;
}
.projects-slider .swiper-slide{
  margin-top: 0 !important;
}
.project-content-box{
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.projects-slider .swiper-slide .project-content-box-inner{
  display: inline-block;
  padding-top: 20px !important;
  border-top: 1px solid #fff;
}

.arrow-img-projects{
  background-color: var(--wp--preset--color--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 99;
  display: flex;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/*projects slider end*/